<div class="container mt-2 shadow">
    <div class="row">
        <div class="col">
            <app-header></app-header>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-nav></app-nav>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <!-- <app-content></app-content> -->
            <!-- <div class="app-content"> </div> -->
            <!-- <div id="app-content"> </div> -->
            <div app-content></div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-notification1></app-notification1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-notification2></app-notification2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-notification3></app-notification3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-search></app-search>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-notification4></app-notification4>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-search2way></app-search2way>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-notification5></app-notification5>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-product></app-product>
        </div>
    </div>
</div>
